@use "../abstract" as *;

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  font-size: 100%; // for accessibility purpose
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  block-size: 100vh;
  padding: 0;
  overflow: hidden;

  background-color: hsl(228deg, 20%, 9.8%);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:visited {
    color: var(--primary-color);
  }
}
